body{
    text-align: center;
    background-image: url("austin.jpg");
    background-size: cover ;
}
h1{
    color: rgb(47, 25, 25);
    font-size: 40px;
}
.loc{
    color: white;
    font-size: 36px;

}
.search{
    height: 40px;
    width: 130px;
    background-color: black;
    border-radius: 10px;
    color: white;
}